<body style="background-color:powderblue;">

<br><br><br><br><br>
<a href="/users#new/">Back</a>
<br>
<style>


table{
  width: 85%;

}
table, th, td {
  
  border: 1px solid black;
  border-collapse: collapse;

</style>

</head>

<br>
<table align="center">
  <tr>

   
    <th>ID</th>
    <th>Email</th>
    <th>Password</th>
    
    <th>Delete</th>
    </tr>
    <% password = "hello" %>
    <% if password?(password) %>
    <b><%= password %></b>
    <% else %>
    <b>xyz</b>
    <% end %>
 
 <% @f.each do |user| %>
   
  <tr> 
    
    <td>  <%= user.id %></td>
    <td><%= user.email %></td>
    <td> <%= user.password_digest %></td>
    <td><a href="/users/<%= user.id %>" onclick="return confirm('Are you sure you want to delete this item?');"data-method="delete">Delete</a></td>

   
  
<% end %>



</tr>

</table>
</body>